@model  ZMGModel.ViewModel.ALUMNI.Alumni_Model.Student_model.Profile_model

@{
    ViewBag.Title = "Alumni Information";
    
}

@section Scripts{
    <script src="~/Scripts/Alumni/Profile.js"></script>
}
 

    <div class="container py-4 mt-2" style="margin: 0 auto; background-color: #fff;">

        <div class="perks-banner text-center mb-4">
            <h2 class="mt-4 mb-4">Administrator</h2>
        </div>

        <!-- ID Card -->
        @{
            Html.RenderAction("MainMenus", "Settings");
        }

    </div>
