
@{
    ViewBag.Title = "Members";
}

 
<div class="container">
    <div class="perks-banner text-center mb-4">
        <h2 class="mt-4 mb-4">Members</h2>
    </div>

    <div class="row mb-2">
        <div class="col-4"><button class="btn btn-sm btn-danger" id="add-perk-btn"><i class="bi bi-plus-lg"></i> Add Perk</button></div>
        <div class="col-8"></div>
    </div>

    <div class="row">
        <table class="table table-sm" id="perks-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Alumni no.</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    @*<th scope="col">Date Created</th>*@
                    <th scope="col">

                    </th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>
</div>