<div class="modal fade" id="add_member_modal" tabindex="-1" aria-labelledby="addPerkLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-4 border-0">

            <!-- Header -->
            <div class="modal-header bg-success text-white rounded-top-4">
                <h5 class="modal-title fw-semibold" id="addmemberLabel">
                    <i class="fas fa-gift me-2"></i> Add Member
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Body -->
            <div class="modal-body px-4 py-3">
             

            </div>

            <!-- Footer -->
            <div class="modal-footer bg-light rounded-bottom-4 px-4 py-3">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-1"></i> Cancel
                </button>
                <button type="button" class="btn btn-success" id="add-members-button">
                    <i class="fas fa-check-circle me-1"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>
